{% extends 'staff_template/base_template.html' %}

{% load static %}
{% block page_title %}
المعلومات الشخصية
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">المعلومات الشخصية</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="" method="post">
                  {% csrf_token %}
                <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>تاريخ الميلاد</label>
                        <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" id="date" value="{{ staff.datenes|date:'d-m-Y' }}"
                        name="dateness" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                      </div>
                  </div>
                  <div class="form-group col-md-6">

                    <label>الحالة المدنية</label>
                       <div class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-hand-spock"></i></span> </div>
                          <select class="form-control" id="status">
                          <option value="1">أعزب</option>
                          <option value="2">مطلق</option>
                          <option value="3">أرمل</option>
                          <option value="4">متزوج</option>
                        </select>
                    </div>
                  </div>
                </div>
                   <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>عدد الاولاد</label>
                          <div class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-baby"></i></span> </div>
                    <input type="number" class="form-control" id="child" min="0" max="50" value="{{ staff.nomberchild|default_if_none:"" }}" >
                       </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>الشهادة المتحصل عليها</label>
                          <div    class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-certificate"></i></span> </div>
                     <select class="form-control" id="certificate">
                          <option value="1">ليسانس</option>
                          <option value="2">ماستر</option>
                          <option value="3">دكتوراه</option>

                         </select>
                          </div>
                  </div>
                </div>
                   <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>تاريخ الحصول عليها</label>
                           <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" id="datemask1" value="{{ staff.datechhada|date:'d-m-Y'|default_if_none:"" }}" name="dategetit" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>التخصص</label>
                         <div class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fab fa-speaker-deck"></i></span> </div>
                    <input type="text" class="form-control" id="speacial" value="{{ staff.spesialte|default_if_none:"" }}" >
                       </div>
                  </div>
                </div>
                    <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>مؤسسة التعليم العالي المتخرج منها :</label>
                         <div    class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-university"></i></span> </div>
                    <input type="text" class="form-control" id="compan" value="{{ staff.universti|default_if_none:"" }}" >
                       </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>تاريخ اول تعيين في قطاع التربية :</label>
                         <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" id="datemask2" value="{{ staff.firstdate|date:'d-m-Y'|default_if_none:"" }}" name="firstdate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                      </div>
                  </div>
                </div>
                    <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>تاريخ اول تعيين في سلك التوجيه :</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-clock"></i></span>
                        </div>
                        <input type="text" id="datemask3" value="{{ staff.firstdateinsector|date:'d-m-Y'|default_if_none:"" }}" name="firstdatecog" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>مؤسســـــة الإقامــــة :</label>
                         <div class="input-group">
                       <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-city"></i></span> </div>
                       <input type="text" class="form-control" id="companystay" value="{{ staff.companystay|default_if_none:"" }}" >
                       </div>
                  </div>
                </div>
                    <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>تاريخ التعيين فيها :</label>
                     <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" id="datemask4" value="{{ staff.firstdatecomp|date:'d-m-Y'|default_if_none:"" }}" name="datetain" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                      </div>
                  </div>

                  <div class="form-group col-md-6">
                    <label>صفـة التعييـن  بالمؤسسـة:</label>
                       <div    class="input-group">
                          <div class="input-group-prepend"> <span class="input-group-text"><i class="far fa-calendar-alt"></i></span> </div>
                         <select class="form-control" id="as">
                          <option value="1"> بصفة مؤقتة</option>
                          <option value="2">بصفة نهائية</option>

                         </select>
                        </div>
                  </div>
                  </div>

                    <div class="form-row">
                         <div class="form-group col-md-6">
                                    <label>صــفـة التعيين بالمنصب :</label>
                                   <div class="input-group">
                                  <div class="input-group-prepend"> <span class="input-group-text"><i class="far fa-calendar-alt"></i></span> </div>
                                 <select  class="form-control" id="morasamono" >

                                  <option value="1">مرصم</option>
                                  <option value="2">متربص</option>


                                 </select>
                                </div>
                            </div>
                      <div class="form-group col-md-6">
                                <label>الرتبـة الحالـية :</label>
                                     <div class="input-group">
                                  <div class="input-group-prepend"> <span class="input-group-text"><i class="fab fa-hackerrank"></i></span> </div>
                                 <select class="form-control" id="raisono" >
                                  <option value="1">مستشار رئيسي</option>
                                  <option value="2">مستشار التوجيه</option>

                                 </select>
                                </div>
                      </div>
                </div>
                    <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>تاريخ بدايتها :</label>
                        <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-hourglass-start"></i></span>
                        </div>
                        <input type="text" id="datemask5" value="{{ staff.datestart|date:'d-m-Y'|default_if_none:"" }}" name="datestarte" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>اخـر درجة :</label>
                          <div class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-weight"></i></span> </div>
                    <input type="number" class="form-control" value="{{ staff.lastdegry|default_if_none:"" }}" min="0" max="50" id="degry"  >
                       </div>
                  </div>
                </div>
                    <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>تاريخ مفعولهـا :</label>
                           <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-calendar-check"></i></span>
                        </div>
                        <input type="text" id="datemask6" name="dateexist" value="{{ staff.dateactive|date:'d-m-Y'|default_if_none:"" }}" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>رقم عقد شهدة الميلاد :</label>
                     <div    class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-list-ol"></i></span> </div>
                    <input type="number" class="form-control" id="nemdateness" value="{{ staff.nbrith|default_if_none:"" }}" >
                       </div>
                  </div>
                </div>
                          <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>مكــان الميــلاد :</label>
                        <div    class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span> </div>
                    <input type="text" class="form-control" id="placeness" value="{{ staff.placebrith|default_if_none:"" }}" >
                       </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>رقم الحساب الجاري :</label>
                        <div    class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-money-check-alt"></i></span> </div>
                    <input type="number" class="form-control" id="nccp" value="{{ staff.ncountccp|default_if_none:"" }}" >
                       </div>
                  </div>
                </div>
                          <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>المفتاح :</label>
                         <div    class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-key"></i></span> </div>
                    <input type="text" class="form-control" id="cle" value="{{ staff.clee|default_if_none:"" }}" >
                       </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>رقم الهاتف 1 :</label>

                        <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="text" id="phone" name="phone1" value="{{ staff.phone1|default_if_none:"" }}" class="form-control" data-inputmask='"mask": "(9999) 99-9999"' data-mask>
                  </div>
                  </div>

                </div>
                          <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>رقم الهاتف 2 :</label>
                           <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="text" id="phone2" name="phone2"  value="{{ staff.phone2|default_if_none:"" }}" class="form-control" data-inputmask='"mask": "(9999) 99-9999"' data-mask>
                  </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>الربريد الالكتروني :</label>
                       <div class="input-group">
                      <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-envelope-square"></i></span> </div>
                    <input type="email" class="form-control" id="email" value="{{ staff.email|default_if_none:"" }}" >
                       </div>
                  </div>
                </div>

                   <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->
    <div class="card-footer">
                  <button type="submit" id="save" class="btn btn-primary btn-block">Save Profile</button>
                </div>

              </form>

            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

{% block custom_js %}

    <script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "plugins/moment/moment.min.js" %}"></script>
    <script src="{% static "plugins/inputmask/min/jquery.inputmask.bundle.min.js" %} "></script>
<script>
$( document ).ready(function() {
    $(function () {
  //Datemask dd/mm/yyyy
    $('#date').inputmask('99/99/9999', { 'placeholder': 'dd/mm/yyyy' })
    $('#datemask1').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    $('#datemask2').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    $('#datemask3').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    $('#datemask4').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    $('#datemask5').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    $('#datemask6').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
   $('#phone').inputmask('(99) 9999?9-9999', { 'placeholder': '.......-...' })
    $('#phone2').inputmask('(99) 9999?9-9999', { 'placeholder': '.......-...' })

        });

    var stat = {{ staff.stat|safe }}
    var chhada = {{ staff.chhada|safe }}
    var as1 = {{ staff.as1|safe }}
    var as2 = {{ staff.as2|safe }}
    var degry = {{ staff.degry|safe }}


     $('#certificate option[value=' + chhada + ']').attr("selected", "selected");
     $('#status option[value=' + stat + ']').attr("selected", "selected");
     $('#as option[value=' + as1 + ']').attr("selected", "selected");
     $('#morasamono option[value=' + as2 + ']').attr("selected", "selected");
     $('#raisono option[value=' + degry + ']').attr("selected", "selected");

        $("#save").click(function (event) {
            event.preventDefault();

            var dateness = $("#date").val()
            var status = $("#status").val()
            var child = $("#child").val()
            var certificate = $("#certificate").val()
            var datemask1 = $("#datemask1").val()
            var speacial = $("#speacial").val()
            var compan = $("#compan").val()
            var datemask2 = $("#datemask2").val()
            var datemask3 = $("#datemask3").val()
            var companystay = $("#companystay").val()
            var datemask4 = $("#datemask4").val()
            var as = $("#as").val()
            var morasamono = $("#morasamono").val()
            var raisono = $("#raisono").val()
            var datemask5 = $("#datemask5").val()
            var degry = $("#degry").val()
            var datemask6 = $("#datemask6").val()
            var nemdateness = $("#nemdateness").val()
            var placeness = $("#placeness").val()
            var nccp = $("#nccp").val()
            var cle = $("#cle").val()
            var phone = $("#phone").val()
            var phone2 = $("#phone2").val()
            var email = $("#email").val()




            $.ajax({
                url:'{% url 'save_info' %}',
                type:'POST',
                data:{dateness:dateness, status:status, child:child,certificate:certificate,datemask1:datemask1,speacial:speacial,compan:compan,datemask2:datemask2,datemask3:datemask3,companystay:companystay,datemask4:datemask4,as:as,morasamono:morasamono,raisono:raisono,datemask5:datemask5,degry:degry,datemask6:datemask6,nemdateness:nemdateness,placeness:placeness,nccp:nccp,cle:cle,phone:phone,phone2:phone2,email:email},
            })
            .done(function(response){

                alert(response)

            })
            .fail(function(){
                alert("خطأ في الاضافة")
            });

        })
});
    </script>
{% endblock custom_js %}