{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/user2-160x160.jpg" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            {% url 'admin_profile' as admin_profile %}
          <a href="{{ admin_profile }}" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

            <li class="nav-item">
            {% url 'admin_home' as admin_home %}
            <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>
       <li class="nav-item">
            {% url 'mostachar_info' as mostachar_info %}
            <a href="{{ mostachar_info }}" class="nav-link {% if request.path == mostachar_info %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                المعلومات الشخصية
              </p>
            </a>
          </li>

            <li class="nav-item">
            {% url 'add_mostachar' as add_mostachar %}
            <a href="{{ add_mostachar }}" class="nav-link {% if request.path == add_mostachar %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة مستشار
              </p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'manage_mostachar' as manage_mostachar %}
             {% url 'edit_mostachar' mostachar_id=mostachar.withuser.id as edit_mostachar %}
            <a href="{{ manage_mostachar }}" class="nav-link {% if request.path == manage_mostachar %} active {% endif %} {% if request.path == edit_mostachar %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                تعديل مستشار
              </p>
            </a>
          </li>

             <li class="nav-item">
            {% url 'distribit' as distribit %}
            <a href="{{ distribit }}" class="nav-link {% if request.path == distribit %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                توزيع المستشارين
              </p>
            </a>
          </li>





              <li class="nav-item">
            {% url 'date_all' as date_all %}
            <a href="{% url 'date_all' %}" class="nav-link {% if request.path == date_all %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                التجميع التفصيلي
              </p>
            </a>
          </li>

        <li class="nav-item">
            {% url 'date_range_full' as date_range_full %}
            <a href="{% url 'date_range_full' %}" class="nav-link {% if request.path == date_range_full %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                التجميع العام
              </p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'add_premary' as add_premary %}
            <a href="{% url 'add_premary' %}" class="nav-link {% if request.path == add_premary %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة ابتدائية
              </p>
            </a>
          </li>

           <li class="nav-item">
            {% url 'add_moyen' as add_moyen %}
            <a href="{% url 'add_moyen' %}" class="nav-link {% if request.path == add_moyen %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة متوسطة
              </p>
            </a>
          </li>

           <li class="nav-item">
            {% url 'add_secondry' as add_secondry %}
            <a href="{% url 'add_secondry' %}" class="nav-link {% if request.path == add_secondry %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة ثانوية
              </p>
            </a>
          </li>
            <li class="nav-item">
            {% url 'add_degreypremglobal' as add_degreyprem %}
            <a href="{% url 'add_degreypremglobal' %}" class="nav-link {% if request.path == add_degreypremglobal %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة مستوى ابتدائي
              </p>
            </a>
          </li>
                 <li class="nav-item">
            {% url 'add_degreymoyen' as add_degreymoyen %}
            <a href="{% url 'add_degreymoyen' %}" class="nav-link {% if request.path == add_degreymoyen %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة مستوى متوسط
              </p>
            </a>
          </li>
            <li class="nav-item">
            {% url 'add_degreyseco' as add_degreyseco %}
            <a href="{% url 'add_degreyseco' %}" class="nav-link {% if request.path == add_degreyseco %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة مستوى ثانوية
              </p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'add_speasial' as add_degreyseco %}
            <a href="{% url 'add_speasial' %}" class="nav-link {% if request.path == add_speasial %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة شعبة
              </p>
            </a>
          </li>
            <li class="nav-item">
            {% url 'add_classprem' as add_classprem %}
            <a href="{% url 'add_classprem' %}" class="nav-link {% if request.path == add_classprem %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة قسم ابتدائي
              </p>
            </a>
          </li>

           <li class="nav-item">
            {% url 'add_classmoyen' as add_classmoyen %}
            <a href="{% url 'add_classmoyen' %}" class="nav-link {% if request.path == add_classmoyen %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة قسم متوسط
              </p>
            </a>
          </li>


          <li class="nav-item">
            {% url 'add_classsecond' as add_classsecond %}
            <a href="{% url 'add_classsecond' %}" class="nav-link {% if request.path == add_classsecond %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة قسم ثانوي
              </p>
            </a>
          </li>

           <li class="nav-item">
            {% url 'add_activte' as add_activte %}
            <a href="{% url 'add_activte' %}" class="nav-link {% if request.path == add_activte %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة عنوان نشاط
              </p>
            </a>
          </li>

            <li class="nav-item">
            {% url 'add_typefilemedia' as add_typefilemedia %}
            <a href="{% url 'add_typefilemedia' %}" class="nav-link {% if request.path == add_typefilemedia %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                اضافة نوع الوثيقة الاعلامية
              </p>
            </a>
          </li>







        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>